html {
  font-family: avenir;
  margin: 2em;
  font-size: 180%;
  line-height: 1.5;
}

iframe {
  float: right;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin-bottom: 50px;
}

p {
  text-align: justify;
}

.example {
  float: right;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration-color: teal;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  color: black;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: cyan;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

a::after {
  content: '|';
  padding-left: 0.8em;
  padding-right: 0.4em;
  color: teal;
}

a:last-child::after {
  content: '';
}

form {
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.left {
  float: left;
}

.right {
  float: right;
}